<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h2 class='form-header-text'>
      ユーザー新規登録
    </h2>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
    </div>
    <%= f.text_field :nickname, class:"input-default", id:"nickname", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード再入力</label>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation" %>
  </div>
  <div class="form-group">
    <p class='form-info-header'>
    </p>
    <p class='form-info-text'>
    </p>
  </div>
  <div class='register-btn'>
    <%= f.submit "新規登録" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>
<%= render "devise/shared/links" %>
